{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Welcome to the work order page, {{ name }}!
</h1>
<div class="column is-full">
    <h3 class="title">Create Work Orders</h3>
    <form method="POST" action="/employee">
        <div class="box">
            <div class="field">
                <label class="label has-text-left">Select Pothole</label>
                <div class="control is-expanded">
                    <div class="select is-fullwidth">
                        <select name="potholes" id="potholes">
                            {% for hole in potholes %}
                                <option value={{hole.id}}>Pothole #{{hole.id}}: {{hole.streetNumber}} {{hole.streetName}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
			<div class="columns">
				<div class="column">
					<div class="field">
						<label class="label has-text-left">Street Number</label>
						<div class="control">
							<input class="input has-background-light" id="streetNumber" type="text" name="streetNumber" placeholder="{{potholes[0].streetNumber}}" value="{{potholes[0].streetNumber}}" readonly>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="field">
						<label class="label has-text-left">Street Name</label>
						<div class="control">
							<input class="input has-background-light" id="streetName" type="text" name="streetName" placeholder="{{potholes[0].streetName}}" value="{{potholes[0].streetName}}" readonly>
						</div>
					</div>
				</div>
			</div>
			
			<div class="columns">
				<div class = "column">
					<div class="field">
						<label class="label has-text-left">City</label>
						<div class="control">
							<input class="input has-background-light" name="city" type="text" placeholder={{potholes[0].city}} readonly>
						</div>
					</div>
				</div>
				<div class="column">    
					<div class="field">
						<label class="label has-text-left">State</label>
						<div class="control">
							<input class="input has-background-light" name="state" type="text" placeholder={{potholes[0].state}} readonly>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="field">
						<label class="label has-text-left">Zip</label>
						<div class="control">
							<input class="input has-background-light" id="zip" name="zip" type="text" placeholder="{{potholes[0].zip}}" value="{{potholes[0].zip}}" readonly>
						</div>
			
					</div>
				</div>
            </div>
            <div class="columns">
				<div class="column">
					<div class="field">
						<label class="label has-text-left">District</label>
						<div class="control">
							<input class="input has-background-light" id="district" name="district" type="text" placeholder="{{potholes[0].district}}" value="{{potholes[0].district}}" readonly>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="field">
						<label class="label has-text-left">Location in Street</label>
						<div class="control">
							<input class="input has-background-light" id="location" name="location" type="text" placeholder="{{potholes[0].location}}" value="{{potholes[0].location}}" readonly>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="field">
						<label class="label has-text-left">Size</label>
						<div class="control">
							<input class="input has-background-light" id="size" name="size" type="text" placeholder="{{potholes[0].size}}" value="{{potholes[0].size}}" readonly>
						</div>
					</div>
				</div>
                <div class="column">
					<div class="field">
						<label class="label has-text-left">Priority</label>
						<div class="control">
							<input class="input has-background-light" id="priority" name="priority" type="text" placeholder="{{potholes[0].priority}}" value="{{potholes[0].priority}}" readonly>
						</div>
					</div>
				</div>
			</div>
        </div>
        <div class="column is-8 is-offset-2">
          <div class="box" id="work_order">
              <!--<div class="columns">-->
                  <div class ="column">
                      <div class="field">
                        <label class="label">Select Repair Crew</label>
                        <div class="control is-expanded">
                          <div class="select is-fullwidth">
                              <select name="crew" id="crew">
                              {% for crew in crewList %}
                                  <option value='{{crew.id}}'>Crew #{{crew.id}}: {{crew.people}} people</option>
                              {% endfor %}
                              </select>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="column">
                      <div class="field">
                          <label class="label">Filler Material Bags (50 lbs. ea.)</label>
                          <div class="control is-expanded">
                          <div class="select is-fullwidth">
                              <select name="filler" id="filler">
                              {% for n in range(1,26) %}
                                  <option value='{{n}}'>{{n}} bag(s)</option>
                              {% endfor %}
                              </select>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class ="column">
                      <div class="field">
                        <label class="label">Hole Status</label>
                        <div class="control is-expanded">
                          <div class="select is-fullwidth">
                              <select name="status" id="status">
                                  <option value='progress'>Not Repaired</option>
                                  <option value='progress'>Work in Progress</option>
                                  <option value='progress'>Repaired</option>
                                  <option value='progress'>Temporary Repair</option>
                              </select>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="column">
                      <div class="field">
                          <label class="label">Repair Hours</label>
                          <div class="control">
                              <input class="input" id="hours" name="hours" type="text" value="0">
                          </div>
                      </div>
                  </div>
              <!--</div>-->
              <!--<div class="columns is-vcentered is-multiline is-centered">-->
                  <div class ="column">
                      <div class="field">
                          <label class="label">Select Equipment</label>
                          <div class="select is-multiple">
                              <div class="control">
                                  <select id="equipment" multiple="multiple" name="equipment" size="{{equipment|length}}">
                                      {% for item in equipment %}
                                          <option name="{{item.equipment}}" value='{{item.equipment}}'>{{item.equipment}}</option>
                                      {% endfor %}
                                  </select>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="column">
                    <div class="field">
                      <label class="label has-text-left">Cost</label>
                      <div class="control">
                      <input class="input has-background-light" id="cost" name="cost" type="text"
                                    placeholder="$0.00" value="$0.00" readonly>
                      </div>
                    </div>
                  </div>
              <!--</div>-->
               <button class="button is block is-info is-large is-fullwidth">Create Work Order</button>
          </div>
         
        </div>
        
    </form>
</div>

<script type="text/javascript">
  $(document).ready(function() {

    $('#potholes').change(function(){

      $.getJSON('/_update_work_dropdown', {
        selected_class: $('#potholes option:selected').text()

      }).success(function(data) {
            $('#streetNumber').val(data.streetNumber);
            $('#streetName').val(data.streetName);
            $('#zip').val(data.zip);
            $('#size').val(data.size);
            $('#district').val(data.district);
            $('#location').val(data.location);
            $('#priority').val(data.priority);
       });
    });
    $('#work_order').change(function(){
        $.getJSON('/_update_work_order', {
            crew: $('#crew option:selected').val(),
            filler: $('#filler option:selected').val(),
            status: $('#status option:selected').val(),
            hours: $('#hours').val(),
            equipment: $('#equipment :selected').toArray().map(item => item.text).join()
        }).success(function(data) {
           $('#cost').val(data.cost); 
        });
    });       
    $('#process_input').bind('click', function() {

        $.getJSON('/_process_data', {
            selected_class: $('#all_classes').val(),
            selected_entry: $('#all_entries').val(),


        }).success(function(data) {
            $('#processed_results').text(data.random_text);
        });
      return false;

    });
  });
</script>
{% endblock %}